 {
   "libraries": [
     {
       "file": "/path/to/libmesos_etcd_module-0.1.dylib",
       "modules": [
         {
           "name": "org_apache_mesos_EtcdMasterContender",
           "parameters": [
            {
              "key": "url",
              "value": "etcd://10.0.0.1:2379,10.0.0.2:2379,10.0.0.3:2379/v2/keys/master"
            }
           ]
         },
         {
           "name": "org_apache_mesos_EtcdMasterDetector",
           "parameters": [
            {
              "key": "url",
              "value": "etcd://10.0.0.1:2379,10.0.0.2:2379,10.0.0.3:2379/v2/keys/master"
            }
           ]
         }
       ]
     }
   ]
 }
